/**
 * This stylesheet is created by using scss a preprocessor for
 * cascaded stylesheets. More info:
 *
 * http://sass-lang.com
 */

@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */
html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0.618em 0;
  padding: 0; }

/* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/ */
body {
  font: 11pt "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif;
  *font-size: small; }

/* Hack retained to preserve specificity */
/* Normalize monospace sizing: en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  white-space: pre-wrap; }

/* 1) Always force a scrollbar in non-IE 
   2) Remove iOS text size adjust without disabling user zoom: www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em;
  margin-bottom: 0.618em; }

ol {
  list-style-type: decimal; }

dl {
  margin-bottom: 0.618em; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

b, strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

.oldie legend {
  *margin-left: -7px; }

/* 1) Make inputs and buttons play nice in IE: www.viget.com/inspire/styling-the-button-element-in-internet-explorer/
   2) WebKit browsers add a 2px margin outside the chrome of form elements. 
      Firefox adds a 1px margin above and below textareas 
   3) Set font-size to match <body>'s, and font-family to sans-serif 
   4) Align to baseline */
button, input, select, textarea {
  width: auto;
  overflow: visible;
  margin: 0;
  font-size: 100%;
  font-family: sans-serif;
  vertical-align: baseline; }

/* 1) Remove default scrollbar in IE: www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/
   2) Align to text-top */
textarea {
  overflow: auto;
  vertical-align: text-top; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

/* Remove extra padding and inner border in Firefox */
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* Bicubic resizing in IE7 for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.oldie img {
  -ms-interpolation-mode: bicubic; }

/* http://imakewebthings.com/deck.js/#sample */
/* Kudos to http://www.colorzilla.com/gradient-editor/ */
/* inspired by http://docs.sencha.com/ext-js/4-0/ */
html {
  height: 100%; }

body {
  background-color: #f5f5ff;
  margin: 0;
  padding: 0;
  height: 100%; }

a, a:visited {
  color: #261a3b; }

p {
  margin: 15px 0 10px 0; }

pre, tt, code {
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
  padding: 0; }

header nav {
  -moz-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2) inset;
  -o-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2) inset;
  background: #333; }
  header nav li {
    display: inline-block; }
    header nav li a, header nav li a:visited {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      display: inline-block;
      color: #d5d5d5;
      font-family: Lato, sans-serif;
      font-weight: 300;
      text-decoration: none;
      padding: 1em 0.5em;
      text-shadow: 1px 1px #000; }
    header nav li a:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      color: #fff; }

div.docs, body.markdown > article {
  padding: 1px 1em;
  background: #ffffff; }
  div.docs h1, div.docs h2, div.docs h3, body.markdown > article h1, body.markdown > article h2, body.markdown > article h3 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    margin: 1em 0 0.5em 0; }
  div.docs h1, body.markdown > article h1 {
    font-size: 24pt; }
  div.docs h2, body.markdown > article h2 {
    font-size: 20pt; }
  div.docs hr, body.markdown > article hr {
    border: 0 none;
    border-top: 1px solid #e5e5ee;
    height: 1px;
    margin: 20px 0; }
  div.docs pre, body.markdown > article pre {
    padding-left: 2em; }
  div.docs pre > code, body.markdown > article pre > code {
    background: none;
    border: none; }
  div.docs code, body.markdown > article code {
    border: 1px solid #dedede;
    background: #f5f5ff;
    padding: 0 0.5em; }
  div.docs blockquote, body.markdown > article blockquote {
    padding-left: 2em;
    padding-right: 1em; }

div.code {
  border-top: 1px solid #e5e5ee;
  border-bottom: 1px solid #e5e5ee;
  padding: 1em; }

#documentation > section:first-child div.code {
  display: none; }

/* --------------------- Table Layout -------------------------*/
@media only screen and (min-width: 950px) {
  #documentation {
    display: table; }
    #documentation > section {
      display: table-row; }
      #documentation > section > div.code, #documentation > section > div.docs {
        display: table-cell;
        vertical-align: top; }

  div.docs, body.markdown > article {
    width: 40%;
    max-width: 900px;
    min-width: 400px;
    padding: 1px 1em;
    border-right: 1px solid #e5e5ee; }

  div.code {
    padding: 0 1em;
    border: none; }

  article > section:not(:first-child) > div.docs:hover + div.code {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -moz-box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.05) inset;
    -webkit-box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.05) inset;
    -o-box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.05) inset;
    box-shadow: 5px 0 0 0 rgba(0, 0, 0, 0.05) inset;
    background: #f0f0ff; } }
/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos {
  background-color: #f0f0f0;
  padding-right: 10px; }

span.lineno {
  background-color: #f0f0f0;
  padding: 0 5px 0 5px; }

body .hll {
  background-color: #ffffcc; }

body .c {
  color: #408080;
  font-style: italic; }

/* Comment */
body .err {
  border: 1px solid #FF0000; }

/* Error */
body .k {
  color: #954121; }

/* Keyword */
body .o {
  color: #666666; }

/* Operator */
body .cm {
  color: #408080;
  font-style: italic; }

/* Comment.Multiline */
body .cp {
  color: #BC7A00; }

/* Comment.Preproc */
body .c1 {
  color: #408080;
  font-style: italic; }

/* Comment.Single */
body .cs {
  color: #408080;
  font-style: italic; }

/* Comment.Special */
body .gd {
  color: #A00000; }

/* Generic.Deleted */
body .ge {
  font-style: italic; }

/* Generic.Emph */
body .gr {
  color: #FF0000; }

/* Generic.Error */
body .gh {
  color: #000080;
  font-weight: bold; }

/* Generic.Heading */
body .gi {
  color: #00A000; }

/* Generic.Inserted */
body .go {
  color: #808080; }

/* Generic.Output */
body .gp {
  color: #000080;
  font-weight: bold; }

/* Generic.Prompt */
body .gs {
  font-weight: bold; }

/* Generic.Strong */
body .gu {
  color: #800080;
  font-weight: bold; }

/* Generic.Subheading */
body .gt {
  color: #0040D0; }

/* Generic.Traceback */
body .kc {
  color: #954121; }

/* Keyword.Constant */
body .kd {
  color: #954121;
  font-weight: bold; }

/* Keyword.Declaration */
body .kn {
  color: #954121;
  font-weight: bold; }

/* Keyword.Namespace */
body .kp {
  color: #954121; }

/* Keyword.Pseudo */
body .kr {
  color: #954121;
  font-weight: bold; }

/* Keyword.Reserved */
body .kt {
  color: #B00040; }

/* Keyword.Type */
body .m {
  color: #666666; }

/* Literal.Number */
body .s {
  color: #219161; }

/* Literal.String */
body .na {
  color: #7D9029; }

/* Name.Attribute */
body .nb {
  color: #954121; }

/* Name.Builtin */
body .nc {
  color: #0000FF;
  font-weight: bold; }

/* Name.Class */
body .no {
  color: #880000; }

/* Name.Constant */
body .nd {
  color: #AA22FF; }

/* Name.Decorator */
body .ni {
  color: #999999;
  font-weight: bold; }

/* Name.Entity */
body .ne {
  color: #D2413A;
  font-weight: bold; }

/* Name.Exception */
body .nf {
  color: #0000FF; }

/* Name.Function */
body .nl {
  color: #A0A000; }

/* Name.Label */
body .nn {
  color: #0000FF;
  font-weight: bold; }

/* Name.Namespace */
body .nt {
  color: #954121;
  font-weight: bold; }

/* Name.Tag */
body .nv {
  color: #19469D; }

/* Name.Variable */
body .ow {
  color: #AA22FF;
  font-weight: bold; }

/* Operator.Word */
body .w {
  color: #bbbbbb; }

/* Text.Whitespace */
body .mf {
  color: #666666; }

/* Literal.Number.Float */
body .mh {
  color: #666666; }

/* Literal.Number.Hex */
body .mi {
  color: #666666; }

/* Literal.Number.Integer */
body .mo {
  color: #666666; }

/* Literal.Number.Oct */
body .sb {
  color: #219161; }

/* Literal.String.Backtick */
body .sc {
  color: #219161; }

/* Literal.String.Char */
body .sd {
  color: #219161;
  font-style: italic; }

/* Literal.String.Doc */
body .s2 {
  color: #219161; }

/* Literal.String.Double */
body .se {
  color: #BB6622;
  font-weight: bold; }

/* Literal.String.Escape */
body .sh {
  color: #219161; }

/* Literal.String.Heredoc */
body .si {
  color: #BB6688;
  font-weight: bold; }

/* Literal.String.Interpol */
body .sx {
  color: #954121; }

/* Literal.String.Other */
body .sr {
  color: #BB6688; }

/* Literal.String.Regex */
body .s1 {
  color: #219161; }

/* Literal.String.Single */
body .ss {
  color: #19469D; }

/* Literal.String.Symbol */
body .bp {
  color: #954121; }

/* Name.Builtin.Pseudo */
body .vc {
  color: #19469D; }

/* Name.Variable.Class */
body .vg {
  color: #19469D; }

/* Name.Variable.Global */
body .vi {
  color: #19469D; }

/* Name.Variable.Instance */
body .il {
  color: #666666; }

/* Literal.Number.Integer.Long */
